<center>
	
<h1>Welcome to UniqCheck. Generate a checklist, and share it with your friends.</h1> <br /><br />
<%= image_tag "512px-Black_check.png", :style => "width:250px" %><br /><br />
No login required. <br /><br />
</center>
<h1>
<center><%= link_to 'Make a new checklist.', new_checklist_path %></h1></center>